<div class="col-lg-12">
	<h1 class="page-header">字典管理</h1>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
	aria-labelledby="editModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content" id="edit-modal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="editModalLabel">详细</h4>
			</div>
			<div class="modal-body" id="editModalBody">
				<form class="form-horizontal">
					<input type="hidden" id="inputId" v-model="id">
					<div class="form-group">
						<label for="inputCode" class="col-sm-2 control-label">编码</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputCode"
								v-model="code" placeholder="Code">
						</div>
					</div>
					<div class="form-group">
						<label for="inputValue" class="col-sm-2 control-label">名称</label>
						<div class="col-sm-10">
							<input type="text" class="form-control" id="inputValue"
								v-model="value" placeholder="Value">
						</div>
					</div>
					<div class="form-group">
						<label for="inputParentCode" class="col-sm-2 control-label">类型</label>
						<div class="col-sm-10">
							<select class="form-control" v-select="parentCode" type="000"
								id="inputParentCode" name="status">
							</select>
						</div>
					</div>
					<div class="form-group">
						<label for="inputStatus" class="col-sm-2 control-label">状态</label>
						<div class="col-sm-10">
							<select class="form-control" v-select="status" type="001"
								id="inputStatus" name="status">
							</select>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" v-on:click="onSave">保存</button>
				<button class="btn btn-default" data-dismiss="modal">关闭</button>
			</div>
		</div>
	</div>
</div>
<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-body">
			<form class="form-inline" id="search-form" role="form">
				<input type="hidden" name="pageNo" v-model="pageNo">
				<div class="form-group">
					<label for="searchCode">编码</label> <input type="text"
						class="form-control" id="searchCode" name="searchCode"
						v-model="code" placeholder="Code">
				</div>
				<div class="form-group">
					<label for="searchValue">名称</label> <input type="text"
						class="form-control" id="searchValue" name="searchValue"
						v-model="value" placeholder="Value">
				</div>
				<div class="form-group">
					<label for="status">状态</label> <select class="form-control"
						v-select="status" type="001" id="status" name="status">
					</select>
				</div>
				<button type="button" class="btn btn-primary " id="search-btn"
					v-on:click="search">查找</button>
				<button type="button" class="btn btn-default " id="search-btn"
					v-on:click="reset">重置</button>
			</form>
		</div>
	</div>
</div>
<div class="col-lg-12">
	<div class="table-responsive" id="data-table">
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<h4 class="panel-title pull-left">字典列表</h4>
				<div class="pull-right">
					<button type="button" class="btn btn-success " id="add-btn"
						v-on:click="onNew">添加</button>
					<button type="button" class="btn btn-warning " id="update-btn"
						v-on:click="onEdit">修改</button>
					<button type="button" class="btn btn-danger " id="delete-btn"
						v-on:click="onDelete">删除</button>
				</div>
			</div>
			<table class="table table-hover table-condensed">
				<thead>
					<tr>
						<th>#</th>
						<th>编码</th>
						<th>名称</th>
						<th>类型</th>
						<th>顺序</th>
						<th>状态</th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="item in list">
						<td><input type="checkbox" value="{{item.id}}"
							name="selected-id" /></td>
						<td>{{item.code}}</td>
						<td>{{item.value}}</td>
						<td v-dic type='000' value='{{item.parentCode}}'></td>
						<td>{{item.orderNo}}</td>
						<td v-dic type='001' value='{{item.status}}'></td>
					</tr>
				</tbody>
			</table>
		</div>
		<ul class="pagination">
			<li v-if="curPage != firstPage"><a href="#"
				v-on:click="toPage(firstPage,$event)" aria-label="Previous"> <span
					aria-hidden="true">&laquo;</span>
			</a></li>
			<li v-for="i in slider" v-bind:class="{'active' : curPage == i}"><a
				href="#" v-on:click="toPage(i,$event)">{{i}}</a></li>
			<li v-if="curPage != lastPage"><a href="#"
				v-on:click="toPage(lastPage,$event)" aria-label="Next"> <span
					aria-hidden="true">&raquo;</span>
			</a></li>
		</ul>
	</div>
</div>