@import '../bootstrap/css/bootstrap.css';
body{
background:#CCCCCC;
}
.row{
margin:0 -15px;
}
header{
height:70px;
background-color:#33CC33;
color:#FFFFFF;
}
header > h1 {
margin:0 10px;
}
header > h3 {
margin:0 50px;
}
nav{
height:30px;
background-color:#FFFFFF;
}
nav > ul {
margin:0;
list-style:none;
}
nav > ul > li {
margin:0;padding:0;
display:inline-block;
width:80px;
height:30px;
}