<ul class="nav" id="side-menu">
    <li>
        <a href="/"><i class="fa fa-dashboard fa-fw"></i> 数据汇总</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-cog fa-fw"></i> 系统管理<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="dictionary">字典管理</a>
            </li>
            <li>
                <a href="#"><i class="fa fa-shield fa-fw"></i> 安全设置<span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                    <li>
                        <a href="#">用户管理</a>
                    </li>
                    <li>
                        <a href="#">角色管理</a>
                    </li>
                    <li>
                        <a href="#">权限管理</a>
                    </li>
                    <li>
                        <a href="#">资源管理</a>
                    </li>
                </ul>
                <!-- /.nav-third-level -->
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
</ul>