<!DOCTYPE html>
<html lang='zh_CN'>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Node JS</title>
    <!-- bower:css -->
    <!-- endbower -->
    <link rel="stylesheet" href="assets/css/admin.css" />
</head>

<body>
    <div id="wrapper">
        <nav class='navbar navbar-default navbar-static-top' role='navigation' style='margin-bottom: 0'>
            <div class='navbar-header'>
                <a class='navbar-brand' href='/index.html'>后台管理系统</a>
            </div>
            <!-- /.navbar-header -->

            <ul class='nav navbar-top-links navbar-right'>
                <li><a href='#user' class='ajax'><i
						class='fa fa-user fa-fw'></i>修改资料</a></li>
                <li class='divider'></li>
                <li><a href='logout'><i class='fa fa-sign-out fa-fw'></i>登出</a></li>
                <!-- /.dropdown -->
            </ul>

            <!-- /.navbar-top-links -->
            <div class='navbar-default sidebar' role='navigation'>
                <div class='sidebar-nav navbar-collapse' id='myMenu'></div>
            </div>
        </nav>
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
    </div>
    <!-- bower:js -->
    <!-- endbower -->
    <script src="assets/js/index.bundle.js"></script>
</body>

</html>