<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<script>
	function loaded(id, content) {
		document.getElementById(id).innerHTML = content
	}
</script>
</head>
<body>
	<div id="pagelet1">Loading</div>
	<div id="pagelet2">Loading</div>