#macro(pager $url $pager)
<div class="row">
<div class="col-md-12">
<div class="" style="float:left">
<select id="chagePageSize" class="bs-select form-control" style="height:32px">
<option value="10">10</option>
<option value="20">20</option>
<option value="50">50</option>
</select></div>
<div class="dataTables_info" style="float:left;padding-left:10px;">第$!{pager.pageNo}页，共$!{mytools.getPageCount($pager.totalRecords,$pager.pageSize)}页</div>
<div class="tables_paginate">
<ul class="pagination">
    #set($FRONT_LEN = 4)
    #set($BEHIND_LEN = 5)
    #set($PAGER_LEN = 10)
    #set($PAGER_CENTER = $!{mytools.getPageCount($pager.totalRecords,$pager.pageSize)} - $!{BEHIND_LEN})
    <li #if($!{pager.pageNo} == 1) class="disabled"#end>
        <a href="javascript:void(0);"  #if($!{pager.pageNo} != 1)onclick="onPager('1')"#end><i class="fa fa-angle-left"></i></a>
    </li>
    #if($!{mytools.getPageCount($pager.totalRecords,$pager.pageSize)} <= $!{PAGER_LEN})
        #foreach($p in [1..$!{mytools.getPageCount($pager.totalRecords,$pager.pageSize)}])
            <li #if($!{pager.pageNo} == $!{p}) class="active" #end>
                <a href="javascript:void(0);" onclick="onPager('$!{p}')">$!{p}</a>
            </li>
        #end
    #elseif($!{mytools.getPageCount($pager.totalRecords,$pager.pageSize)} > $!{PAGER_LEN})
        #if($!{pager.pageNo} <= $!{FRONT_LEN})
            #foreach($p in [1..10])
                <li #if($!{pager.pageNo} == $!{p}) class="active" #end>
                    <a href="javascript:void(0);" onclick="onPager('$!{p}')">$!{p}</a>
                </li>
            #end
        #elseif($!{pager.pageNo} < $!{PAGER_CENTER})
            #set($header = $!{pager.pageNo} - $!{FRONT_LEN})
            #set($ender = $!{pager.pageNo} + $!{BEHIND_LEN})
            #foreach($p in [$!{header}..$!{ender}])
                <li #if($!{pager.pageNo} == $!{p}) class="active" #end>
                    <a  href="javascript:void(0);" onclick="onPager('$!{p}')">$!{p}</a>
                </li>
            #end
        #else
            #set($begin = $!{mytools.getPageCount($pager.totalRecords,$pager.pageSize)} - $!{FRONT_LEN} - $!{BEHIND_LEN})
            #foreach($p in [$!{begin}..$!{mytools.getPageCount($pager.totalRecords,$pager.pageSize)}])
                <li #if($!{pager.pageNo} == $!{p}) class="active" #end>
                    <a  href="javascript:void(0);" onclick="onPager('$!{p}')">$!{p}</a>
                </li>
            #end
        #end
    #end
    <li #if($!{pager.pageNo} == $!{mytools.getPageCount($pager.totalRecords,$pager.pageSize)}) class="disabled"#end>
        <a href="javascript:void(0);" #if($!{pager.pageNo} != $!{mytools.getPageCount($pager.totalRecords,$pager.pageSize)})onclick="onPager('$!{mytools.getPageCount($pager.totalRecords,$pager.pageSize)}')"#end><i class="fa fa-angle-right"></i></a>
    </li>
</ul>
</div></div></div>
 <script>
function reFresh(flag){
	if('$!{pager.pageNo}'!=''){
		if(flag){
			$('<input type="hidden" name="pageNo" value="$!{pager.pageNo}"/>').appendTo($("#searchForm"));
		}else if($('#id').val()!=''){
			$('<input type="hidden" name="pageNo" value="$!{pager.pageNo}"/>').appendTo($("#searchForm"));
		}
		
		$("#searchForm").submit();
	}
}
function onPager(num){
	if($("#searchForm input[name='pageNo']").length > 0){
		$("#searchForm input[name='pageNo']").val(num);
	}else
		$('<input type="hidden" name="pageNo" value="'+num+'"/>').appendTo($("#searchForm"));
	var pageSize = $("#chagePageSize option:selected").val();
	if(pageSize){
			if($("#searchForm input[name='pageSize']").length > 0){
				$("#searchForm input[name='pageSize']").val(pageSize);
			}else{
				$('<input type="hidden" name="pageSize" value="'+pageSize+'"/>').appendTo($("#searchForm"));
			}
	}
	$("#searchForm").submit();
}
jQuery(document).ready(function(){
	//选中
 	$("#chagePageSize option[value='$!pager.pageSize']").attr("selected",true);
	$("#chagePageSize").change(function(){
		var pageSize = $(this).children('option:selected').val();
		if(pageSize){
			if($("#searchForm input[name='pageSize']").length > 0){
				$("#searchForm input[name='pageSize']").val(pageSize);
			}else{
				$('<input type="hidden" name="pageSize" value="'+pageSize+'"/>').appendTo($("#searchForm"));
			}
			$("#searchForm").submit();
		}
	});
	//表单提交事件
	$("#searchForm :submit").click(function(event){
		event.preventDefault();
		var pageSize = $("#chagePageSize option:selected").val();
		if(pageSize){
			if($("#searchForm input[name='pageSize']").length > 0){
				$("#searchForm input[name='pageSize']").val(pageSize);
			}else{
				$('<input type="hidden" name="pageSize" value="'+pageSize+'"/>').appendTo($("#searchForm"));
			}
		}
		$("#searchForm").submit();

	});
});
 </script>
#end
